@{
    ViewData["Title"] = "Home Page | Smith Swimming School";
}
<!-- Simple Landing page: Home/Index-->

<div class="container">
    <div class="row mb-2">
        <div class="col-12 text-center">
            <h1 class="display-2 mb-3">Welcome to Smith Swimming School (3S)</h1>
            <p class="lead mb-3">Your journey to becoming a proficient swimmer starts here!</p>
            <hr class="w-50 mx-auto" />
        </div>
    </div>
    <div class=" d-flex row align-items-center">
        <div class="col-md-6 text-center">
            <img src="/images/SwimLessons.jpg" class="img-fluid rounded" alt="Swimming Lessons"
                 style="max-height: 350px;" />
        </div>
        <div class="col-md-6 mb-3 mb-md-0 text-center">
            <img src="/images/creative-swimming-logo.png" alt="Swim Logo" class="img-fluid"
                 style="max-height: 400px;" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-6 mb-md-0">
            <h3 class="display-5">About Us</h3>
            <p>
                30 years ago, Grandpa Smith, a former swimming coach at Tiny University,
                sought to continue coaching post-retirement.
                Since then, we are dedicated to providing top-notch swimming education for all ages and skill levels.
                Whether you're a beginner or looking to refine your techniques, our experienced
                coaches are here to guide you every step of the way.
            </p>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center ms-auto">
            <h3 class="display-5 text-center">Ready to dive in?</h3>
            <p>
                Register now and take the first step towards mastering the art of swimming.
                Our classes are designed to be fun, engaging, and educational.
                Don't miss out on the opportunity to learn from the best in a supportive environment.
                Click the button below to get started on your journey!
            </p>
            <a href="/Visitor" class="btn btn-primary btn-lg mt-2 justify-content-end">Register Now</a>
        </div>
    </div>
</div>







